/* Theme Color */
.comments-area .comment-box .date,
.coming-soon .copyright-text a,
.coming-soon .emailed-form .form-group input[type="submit"]:hover,
.coming-soon .emailed-form button:hover,
.checkout-page .default-links li a:hover,
.checkout-page .default-links li .far,
.cart-table tbody tr .remove-btn:hover,
.shop-comment-form .rating-box .rating a:hover,
.product-details .basic-details .details-header .rating,
.sidebar .related-posts .post .rating .fa,
.sidebar .related-posts .post a,
.sidebar .related-posts .post a:hover,
.shop-item .lower-content .price,
.shop-item .lower-content .name a:hover,
.comments-area .comment-box .reply-btn:hover,
.comments-area .comment-box .rating,
.blog-cat li a:before,
.latest-news .post .post-info,
.latest-news .post:hover h3 a,
.main-footer .footer-bottom .footer-nav ul li a:hover,
.main-footer .contact-list li .text a:hover,
.user-links li a:hover,
.recent-posts .post .date span,
.recent-posts .post h4 a:hover,
.social-icon-two li a:hover,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.error-section .sec-title h1,
.author-box .social-icon li a:hover,
.blog-single blockquote cite span,
.news-block .lower-content h3 a:hover,
.subscribe-form .upper-box h4 span,
.testimonial-block .designation,
.testimonial-block .content-box .rating,
.testimonial-block .content-box .icon,
.pricing-table .price-box .title,
.pricing-table .title-box h3,
.team-block .other-info li a:hover,
.team-block .info-box .designation,
.contact-info-section .number a,
.contact-info-section .number,
.contact-info-section .title,
.contact-page-section .contact-info li a:hover,
.accordion-box .block .acc-btn.active .icon-outer,
.accordion-box .block .acc-btn.active,
.project-section-two .filters .filter.active,
.load-more-option .load-more a,
.project-detail .project-info li p a:hover,
.project-detail .project-info li .icon,
.project-detail blockquote cite span,
.project-block .caption-box h4 a:hover,
.video-section .content-box .text,
.help-box .info-box li .icon,
.service-block-two h3 a:hover,
.service-block h3 a:hover,
.service-block .inner-box .icon,
.feature-block-two .inner-box .icon,
.fact-counter .icon,
.about-me .info-column h3,
.feature-block h4 a:hover,
.feature-block .icon-box .icon,
.theme_color,
.sec-title h2,
.banner-section-three .wrap,
.page-breadcrumb li a:hover,
.banner-section-two .slide-item .title,
.sidenav-bar .navigation li:hover > a,
.sidenav-bar .navigation li.current > a,
.sidenav-bar .contact-info-box .info-box p a:hover,
.checkout-page .default-links li a,
.main-header .shopping-cart .shopping-cart-items .item-price,
.search-popup .form-group input[type="submit"]:hover,
.search-popup .form-group button:hover,
.list-style-two li:before,
.list-style-one li:before,
.btn-style-four:hover,
.btn-style-two:hover,
a{
	color: #0074D9;
}

/*=== Background Color ===*/

.clock-second,
.clock-second:after,
.click-indicator div:nth-child(12),
.click-indicator div:nth-child(9),
.click-indicator div:nth-child(6),
.click-indicator div:nth-child(3),
.checkout-page .lower-content .column h2:after,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.shop-item .overlay-box .btn-box a:hover,
.main-footer .footer-column .widget-title:before,
.blog-cat li.active a,
.blog-cat li a:hover,
.latest-news .post-thumb a:before,
.testimonial-block .inner-box:before,
.project-block-two .caption-box:before,
.project-block-two .caption-box:after,
.load-more-option li.prev a:hover,
.load-more-option li.next a:hover,
.video-section .play-now .icon,
.service-block-two .read-more,
.services-section .owl-dot.active,
.service-block .read-more,
.about-us .single-item-carousel .owl-dot.active,
.square-menu .menu-item:hover span,
.circular-menu .menu-item:hover span,
.circular-menu:after,
.btn-style-four,
.btn-style-two,
.btn-style-one:before{
	background-color: #0074D9;
}

::-webkit-selection,
::-moz-selection,
::selection{
	background-color: #0074D9;
}

/*Border Color*/
.clock-second:after,
.clock-wrapper:before,
.login-form,
.coming-soon .emailed-form .form-group input:focus,
.coming-soon .emailed-form .form-group select:focus,
.coming-soon .emailed-form .form-group textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.cat-list li a,
.sidebar .search-box .form-group input:focus,
.sidebar-widget,
.user-links li a,
.social-icon-two li a,
.styled-pagination li a,
.blog-single blockquote,
.news-block .lower-content,
.subscribe-form .form-group input:focus,
.subscribe-form .form-group select:focus,
.subscribe-form .form-group textarea:focus,
.subscribe-form .upper-box,
.pricing-tabs .tab-btns,
.pricing-table .table-content ul li,
.pricing-table .title-box,
.team-block .thumb,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.contact-form,
.call-back-section .image-column .image:before,
.request-form .form-group input:focus,
.request-form .form-group textarea:focus,
.request-form .form-group select:focus,
.request-form,
.faq-form .form-group input:focus,
.faq-form .form-group select:focus,
.faq-form .form-group textarea:focus,
.project-detail .project-info,
.project-detail blockquote,
.service-block-two .inner-box,
.service-block .inner-box,
.feature-block-two .inner-box,
.fun-facts .bar-item .skill-bar .bar-inner .bar,
.welcome-section .column .lower-content,
.about-section .image-column .image:before,
.about-me .info-column .text-box,
.about-us .image-column .inner-column:before,
.banner-section .swiper-slide .content .inner:after,
.banner-section .swiper-slide .content .inner:before,
.search-popup .close-search,
.btn-style-four{
	border-color: #0074D9;
}

.pricing-table .inner-box{
	border-bottom-color: #0074D9;
}

.pricing-table .inner-box{
	border-top-color: #0074D9;
}